.pickBook-container {
  border: red solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40vh;
}
.pickbook-title {
  padding: 2rem 0 2rem 0;
}
.pickbook-mode-button-container {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}