.searchBar-container {
  /* Styles for SearchBar */
}
.searchbar-form {
  display: flex;
  gap: 0.3rem;
}
.searchbar-button {
  background-color: #363b16;
  width: 5rem;
  height: 2rem;
  color: #f5f5f5;
  border-radius: 3px;
}