.addBook-container {
  /* Styles for AddBook */
  display: flex;
  flex-direction: column;
  width:100%;
  height: 40vh;
  /* width: 60vw;
  height: 40vh; */
  align-items: center;
  justify-content: space-around;
}
.addbook-title-mode-button {
  /* border: blue dotted 2px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0 2rem 0;
  gap: 2rem;
}
.addbook-title {
  /* padding: 2rem 0 2rem 0; */
}
.addbook-mode-button-container {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.addbook-mode-container {
  /* border: blue dotted 2px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.addbook-form-container  {
  display: flex;
  flex-direction: column;
  /* border: green dotted 2px; */
  width: 50%;
  align-items: center;
  gap: 1.3rem;
}
.addbook-form-input-container {
  display: flex;
  gap: 2rem;
  /* border: red dotted 2px; */
  width: 100%;
  /* height: 1.5rem; */
}
.form-input-label {
  display: flex;
  /* border: blue dotted 4px; */
  width:40%;
  justify-content: flex-end;
}
.form-input-input {
  width:60%;
}
.checkbox-group {
  display: flex;
  /* border: red dotted 4px; */
  gap: 1rem;
}
